<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="eu.numberfour.n4js.tester.nodejs.ui.NodejsTesterUiExecutableExtensionFactory:eu.numberfour.n4js.tester.nodejs.ui.NodejsTesterLaunchConfigurationDelegate"
            delegateName="Node.js Tester Launch Configuration Delegate"
            id="eu.numberfour.n4js.tester.nodejs.ui.launchConfigurationType"
            modes="run"
            name="Node.js Tester">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="eu.numberfour.n4js.tester.nodejs.ui.NodejsTesterUiExecutableExtensionFactory:eu.numberfour.n4js.tester.nodejs.ui.launch.NodejsTesterLaunchConfigurationTabGroup"
            id="eu.numberfour.n4js.tester.nodejs.ui.launchConfigurationTabGroup"
            type="eu.numberfour.n4js.tester.nodejs.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="eu.numberfour.n4js.tester.nodejs.ui.NodejsTesterUiExecutableExtensionFactory:eu.numberfour.n4js.tester.nodejs.ui.NodejsTesterLaunchShortcut"
            icon="icons/icon_tester_nodejs.png"
            id="eu.numberfour.n4js.tester.nodejs.ui.LaunchShortcut"
            label="Test in Node.js"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="eu.numberfour.n4js.tester.ui.isTestable">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="eu.numberfour.n4js.runner.nodejs.ui.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>
 	<extension
   		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   		<launchConfigurationTypeImage
   				id="eu.numberfour.n4js.runner.nodejs.ui.launchConfigurationTypeImage"
   				configTypeID="eu.numberfour.n4js.tester.nodejs.ui.launchConfigurationType"
   				icon="icons/icon_tester_nodejs.png">
   		</launchConfigurationTypeImage>
   	</extension>	
</plugin>
