<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>


<plugin>
   <extension
         point="org.eclipse.help">
      <launchConfigurationType
            delegate="ActiveHelpOpenDialogAction"
            delegateDescription="Testing Active Help"
            delegateName="Active Help Launcher"
            id="ActiveHelpOpenDialogAction"
            modes="run"
            name="Active Help">
      </launchConfigurationType>
   </extension>
</plugin>

<!--
<profiles>
         disable tycho functionality in case of "-Dtycho.mode=activehelp" on command line 
        <profile>
          <id>tycho.mode.maven</id>
          <activation>
            <property>
                <name>tycho.mode</name>
                <value>activehelp</value>
            </property>
          </activation>
          <build>
            <plugins>
                <plugin>
                    <groupId>org.eclipse.tycho</groupId>
                    <artifactId>tycho-packaging-plugin</artifactId>
                    <version>${tycho.version}</version>
                    <executions>
                        <execution> <id>default-build-qualifier</id> <phase /> </execution>
                        <execution> <id>default-validate-version</id> <phase /> </execution>
                        <execution> <id>default-validate-id</id> <phase /> </execution>
                        <execution> <id>default-package-plugin</id> <phase /> </execution>
                    </executions>
                </plugin>
                <plugin>
                    <groupId>org.eclipse.tycho</groupId>
                    <artifactId>tycho-compiler-plugin</artifactId>
                    <version>${tycho.version}</version>
                    <executions>
                        <execution> <id>default-compile</id> <phase /> </execution>
                    </executions>
                </plugin> 
                <plugin>
                    <groupId>org.eclipse.tycho</groupId>
                    <artifactId>tycho-p2-plugin</artifactId>
                    <version>${tycho.version}</version>
                    <executions>
                        <execution> <id>default-p2-metadata-default</id> <phase /> </execution>
                        <execution> <id>attach-p2-metadata</id> <phase /> </execution>
                    </executions>
                </plugin>
                
            </plugins>
          </build>
        </profile>
    </profiles>
-->