<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>

<extension point="org.eclipse.ui.views">
        <view id="eu.numberfour.n4js.xpect.ui.runner.N4IDEXpectView"
                name="Xpect View"
             icon="icons/test_view.png"
             category="eu.numberfour.n4js.category"
                class="eu.numberfour.n4js.xpect.ui.results.N4IDEXpectView"/>
</extension>
    <extension point="org.eclipse.debug.core.launchConfigurationTypes"> 
        <launchConfigurationType 
            delegate= "eu.numberfour.n4js.xpect.ui.XpectConfigurationDelegate" 
            id="eu.numberfour.n4js.xpect.ui.LaunchConfigurationType.XPECT" 
            modes="run"
            name="Run XPECT">
       </launchConfigurationType> 
    </extension>

   <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
        <launchConfigurationTabGroup   
            class= "eu.numberfour.n4js.xpect.ui.LaunchConfigurationTabGroup"
            id= "eu.numberfour.n4js.xpect.ui.LaunchConfigurationTabGroup.XPECT"
            type= "eu.numberfour.n4js.xpect.ui.LaunchConfigurationType.XPECT" >
        </launchConfigurationTabGroup>
   </extension>

       <extension
          point= "org.eclipse.debug.ui.launchShortcuts" >
       <shortcut
             class="eu.numberfour.n4js.xpect.ui.LaunchXpectShortcut"
             icon="icons/xpect_run.png"
             id="eu.numberfour.n4js.xpect.ui.LaunchXpectShortcut"
             label="Xpect run"
             modes="run"> 
          <configurationType
                id= "eu.numberfour.n4js.xpect.ui.LaunchConfigurationType.XPECT" >
          </configurationType>   
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js.xt" >
                          </test>
<!--                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.js" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js" >
                          </test>
-->
                       </or>
                    </iterate>
                 </with>
              </enablement>
           </contextualLaunch>
       </shortcut>
   </extension>
   

       <extension
          point= "org.eclipse.debug.ui.launchShortcuts" >
       <shortcut
             class="eu.numberfour.n4js.xpect.ui.GenerateBugReportShortcut"
             icon="icons/bug_report.png"
             id="eu.numberfour.n4js.xpect.ui.GenerateBugReportShortcut"
             label="Xpect Bug Report Generation"
             modes="run"> 
           <contextualLaunch>   
              <enablement>   
                 <with   
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>
                    <iterate>
                       <or>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js.xt" >
                          </test>
<!--                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.js" >
                          </test>
                          <test
                                property= "org.eclipse.debug.ui.matchesPattern"
                                value= "*.n4js" >
                          </test>
-->
                       </or>
                    </iterate>
                 </with>
              </enablement>
           </contextualLaunch>
       </shortcut>
   </extension>
   
   
       <extension
             point="org.xpect.testSuite">
          <testSuite
                class="eu.numberfour.n4js.xpect.ui.runner.N4IDEXpectTestClass"
                fileExtension="n4js">
          </testSuite>
       </extension>

   <extension point="org.eclipse.ui.commands">
     <command
        description="Compare Test Results"
        id="eu.numberfour.n4js.xpect.ui.runner.comparecommand"
        name="Compare Test Results">
      </command>
   </extension>

   <extension point="org.eclipse.ui.commands">
     <command
        description="Generate Bug Report"
        id="eu.numberfour.n4js.xpect.ui.runner.generatebugcommand"
        name="Generate Bug Report">
      </command>
   </extension>

<extension point="org.eclipse.ui.handlers">
  <handler
        class="eu.numberfour.n4js.xpect.ui.results.XpectCompareCommandHandler"
        commandId="eu.numberfour.n4js.xpect.ui.runner.comparecommand">
  </handler>
  <handler
        class="eu.numberfour.n4js.xpect.ui.results.XpectGenerateBugReportCommandHandler"
        commandId="eu.numberfour.n4js.xpect.ui.runner.generatebugcommand">
  </handler>
</extension>


<extension point="org.eclipse.ui.menus">
  <menuContribution locationURI="popup:eu.numberfour.n4js.xpect.ui.runner.N4IDEXpectView">
     <command
        commandId="eu.numberfour.n4js.xpect.ui.runner.comparecommand"
           style="push">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <test property="eu.numberfour.n4js.xpect.ui.runner.isTest" value="true"/>
               </with>
            </visibleWhen>
     </command>
     <command
        commandId="eu.numberfour.n4js.xpect.ui.runner.generatebugcommand"
           style="push">
            <visibleWhen>
               <with variable="activeMenuSelection">
                  <test property="eu.numberfour.n4js.xpect.ui.runner.isSuite" value="true"/>
               </with>
            </visibleWhen>
     </command>
  </menuContribution>
</extension>


  <extension
         point="org.eclipse.ui.contexts">
      <context
            id="eu.numberfour.n4js.xpect.ui.runner.N4IDEXpectView.context"
            name="XpectView Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   
    <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="eu.numberfour.n4js.xpect.ui.runner.DescriptionTester"
          id="eu.numberfour.n4js.xpect.ui.runner.descriptionTester"
          namespace="eu.numberfour.n4js.xpect.ui.runner"
          properties="isTest, isSuite"
          type="org.eclipse.jface.viewers.IStructuredSelection">
    </propertyTester>
   </extension>

</plugin>
