/src-gen
/eu.numberfour.n4js.targetplatform.targetdef
/eu.numberfour.n4js.targetplatform.b3aggr
/eu.numberfour.n4js.targetplatform-mirror.target
/eu.numberfour.n4js.targetplatform-zeroed.target
/n4mirror_local_eu.numberfour.n4js.targetplatform.target
