<?pde version="3.8"?>

<!--

We keep fixed version numbers in this file to use it as our leading information system of the configuration.

When updating to a new version reset all versions to version="0.0.0" and let the URL point to the most specific location,
which should provide a single version of the requested feature. After successfully upgrading please read-out the used
versions and replace the omni-versions with the actual retrieved version.
(Only that way we are notified when our cache gets invalid.)

This has two advantages:
1) maintenance of the target definition is simplified (fewer version to change on upgrade)
2) build is faster, since it doesn"t need to poke all composite update sites that are aggregated

-->

<!-- Features added to the target platform -->
<target includeMode="feature" name="N4JS - Eclipse 4.5.2, Xtext/Xtend 2.10.0-SNAPSHOT  +(Xcore 1.3.2) , Xsemantics 1.9, XpectN4" sequenceNumber="96">
	<locations>
		<!-- Main target platform, that is: Eclipse 4.5 Mars -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.gef" version="3.10.1.201508170204" />
			<unit id="org.eclipse.draw2d" version="3.10.1.201508170204" />

			<!-- Dependencies for the web team such as HTML and XML editor -->
			<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.7.2.v201511240257"/>
			<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.7.1.v201602111638"/>
			<repository location="http://download.eclipse.org/releases/mars/201602261000/"/>
		</location>

		<!-- Enable EGit Support in N4JS Product -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.egit.feature.group" version="4.2.0.201601211800-r" />
			<unit id="org.eclipse.egit.source.feature.group" version="4.2.0.201601211800-r" />
			<unit id="org.eclipse.jgit.feature.group" version="4.2.0.201601211800-r" />
			<unit id="org.eclipse.jgit.source.feature.group" version="4.2.0.201601211800-r" />
			<repository location="http://download.eclipse.org/egit/updates-4.2/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.sdk.feature.group" version="4.5.2.v20160212-1500"/>
			<unit id="org.eclipse.pde.feature.group" version="3.11.2.v20160212-1500"/>
			<unit id="org.eclipse.help.feature.group" version="2.1.2.v20160212-1500"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
			<unit id="org.eclipse.platform.feature.group" version="4.5.2.v20160212-1500"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.200.v20150602-1417"/>
			<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.100.v20150527-1706"/>
			<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.102.v20160129-0947"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-1318"/>
			<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.101.v20160129-0947"/>

			<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.2.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.provider.filetransfer" version="3.2.200.v20151130-0157" />
			<unit id="org.eclipse.ecf.provider.filetransfer.source" version="3.2.200.v20151130-0157" />
			<unit id="org.eclipse.ecf.filetransfer" version="5.0.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.filetransfer.source" version="5.0.0.v20151130-0157" />
			<unit id="org.eclipse.ecf" version="3.7.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.source" version="3.7.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.identity" version="3.6.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.identity.source" version="3.6.0.v20151130-0157" />

			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.2.v20160202-2102" />
			<unit id="org.eclipse.equinox.concurrent" version="1.1.0.v20130327-1442" />

			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.12.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.12.0.v20151130-0157" />
			<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20151130-0157" />

			<repository location="http://download.eclipse.org/eclipse/updates/4.5/R-4.5.2-201602121500"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xpand" version="2.1.0.v201505260349" />
			<unit id="org.eclipse.xpand.source" version="2.1.0.v201505260349" />
			<unit id="org.eclipse.xtend" version="2.1.0.v201505260349" />
			<unit id="org.eclipse.xtend.source" version="2.1.0.v201505260349" />
			<unit id="org.eclipse.xtend.typesystem.emf" version="2.1.0.v201505260349" />
			<unit id="org.eclipse.xtend.typesystem.emf.source" version="2.1.0.v201505260349" />
			<repository location="http://download.eclipse.org/modeling/m2t/xpand/updates/releases/R201505260349/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<!-- EMF -->
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
			<!-- Xcore -->
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.3.2.v20160209-0349"/>
			<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.11.x/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<!-- MWE2 -->
			<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.3.v201512160634"/>
			<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.3.v201512160556"/>
			<unit id="org.eclipse.emf.mwe.core" version="1.3.13.v201512160556" />
			<unit id="org.eclipse.emf.mwe.core.source" version="1.3.13.v201512160556" />
			<unit id="org.eclipse.emf.mwe.utils" version="1.3.13.v201512160556" />
			<unit id="org.eclipse.emf.mwe.utils.source" version="1.3.13.v201512160556" />
			<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.3/"/>
		</location>

		<!-- Xtext + Xtend -->
<!--
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xtend.sdk.feature.group" version="2.9.2.v201603040440"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.2.v201603040440"/>
			<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.9.2/"/>
		</location>
-->		
		<!-- LAST touch for mirror: 2016-04-15_1215 -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/latest/"/>
		</location>

		<!-- ANTLR parser generator (not runtime), used by Xtext during code generation -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
			<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
			<repository location="http://download.itemis.com/updates/releases/2.1.1/"/>
		</location>

		<!-- Xsemantics: type system framework for Xtext -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="it.xsemantics.runtime.feature.feature.group" version="1.9.0.v20151204-1531"/>
			<unit id="it.xsemantics.runtime.feature.source.feature.group" version="1.9.0.v20151204-1531"/>
			<repository location="http://sourceforge.net/projects/xsemantics/files/updates/releases/1.9"/>
		</location>

		<!-- Xpect, used for Xtext tests, currently our own customized hosted version, should be replaced with official site in future -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.jdt.junit.runners.feature.feature.group" version="0.1.0.201411181552"/>
			<repository location="https://meysholdt.github.io/eclipse_jdt_junit_runners/updatesite/"/>
		</location>

		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.xpect.sdk.feature.group" version="0.1.0.201506020812"/>
			<repository location="https://numberfour.github.io/Xpect/updatesite/nightly/local/"/>
		</location>

		<!-- only needed for Xpect development -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="de.itemis.statefullexer.feature.group" version="1.0.0.201311181130"/>
			<repository location="http://meysholdt.github.io/xtext_stateful_lexer/updatesite/"/>
		</location>

		<!-- UI Testing / SWT Bot -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="2.3.0.201506081302"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302"/>
			<unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="2.3.0.201506081302"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="2.3.0.201506081302"/>
			<unit id="org.eclipse.swtbot.feature.group" version="2.3.0.201506081302"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.3.0.201506081302"/>
			<unit id="org.eclipse.swtbot.forms.feature.group" version="2.3.0.201506081302"/>
			<repository location="http://download.eclipse.org/technology/swtbot/releases/2.3.0/"/>
		</location>

		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
			<unit id="org.kohsuke.args4j.source" version="2.0.21.v201301150030"/>
			<unit id="org.codehaus.jackson.core" version="1.6.0.v20101005-0925"/>
			<unit id="org.codehaus.jackson.core.source" version="1.6.0.v20101005-0925"/>
			<unit id="org.codehaus.jackson.mapper" version="1.6.0.v20101005-0925"/>
			<unit id="org.codehaus.jackson.mapper.source" version="1.6.0.v20101005-0925"/>

			<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
			<unit id="org.antlr.runtime.source" version="3.2.0.v201101311130"/>
			<unit id="org.objectweb.asm" version="5.0.1.v201404251740"/>
			<unit id="org.objectweb.asm.source" version="5.0.1.v201404251740"/>
			<unit id="org.junit" version="4.12.0.v201504281640"/>
			<unit id="org.junit.source" version="4.12.0.v201504281640"/>

			<unit id="com.google.guava" version="15.0.0.v201403281430" />
			<unit id="com.google.guava.source" version="15.0.0.v201403281430" />
			<unit id="com.google.inject" version="3.0.0.v201312141243" />
			<unit id="com.google.inject.source" version="3.0.0.v201312141243" />

			<unit id="org.hamcrest.library" version="1.3.0.v201505072020" />
			<unit id="org.hamcrest.library.source" version="1.3.0.v201505072020" />
			<unit id="org.apache.commons.cli" version="1.2.0.v201404270220" />
			<unit id="org.apache.commons.cli.source" version="1.2.0.v201404270220" />
			<unit id="org.apache.commons.compress" version="1.6.0.v201310281400" />
			<unit id="org.apache.commons.compress.source" version="1.6.0.v201310281400" />
			<unit id="javaewah" version="0.7.9.v201401101600" />
			<unit id="javaewah.source" version="0.7.9.v201401101600" />

			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
		</location>

		<!-- JSON editor (Used by the web team)-->
		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="jsonedit-feature.feature.group" version="0.9.7"/>
			<repository location="http://sourceforge.net/projects/eclipsejsonedit/files/update/"/>
		</location>

		<!-- Path Tools -->
		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="PathToolsFeature.feature.group" version="1.0.67"/>
			<repository location="http://pathtools.googlecode.com/svn/trunk/PathToolsUpdateSite/"/>
		</location>

		<!-- Jetty stuff, aligned version with built-eclipse jetty components. -->
		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">

			<unit id="org.eclipse.jetty.util.ajax" version="9.2.13.v20150730"/>

			<unit id="org.eclipse.jetty.server" version="9.2.13.v20150730"/>
			<unit id="org.eclipse.jetty.server.source" version="9.2.13.v20150730"/>

			<unit id="org.eclipse.jetty.servlet" version="9.2.13.v20150730"/>
			<unit id="org.eclipse.jetty.servlet.source" version="9.2.13.v20150730"/>

			<unit id="org.eclipse.jetty.security" version="9.2.13.v20150730"/>
			<unit id="org.eclipse.jetty.security.source" version="9.2.13.v20150730"/>

			<unit id="org.eclipse.jetty.util" version="9.2.13.v20150730"/>
			<unit id="org.eclipse.jetty.util.source" version="9.2.13.v20150730"/>

			<unit id="org.eclipse.jetty.io.source" version="9.2.13.v20150730"/>
			<unit id="org.eclipse.jetty.http.source" version="9.2.13.v20150730"/>
			<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.2.13.v20150730"/>
		</location>

		<!-- EPL License -->
		<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
			<repository location="http://download.eclipse.org/cbi/updates/license/1.0.1.v20140414-1359"/>
		</location>
	</locations>


	<environment>
		<nl>en</nl>
	</environment>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
	<launcherArgs>
		<vmArgs>-Xmx4g</vmArgs>
	</launcherArgs>
</target>
