<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2016 NumberFour AG.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  NumberFour AG - Initial API and implementation
-->
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2014 NumberFour AG (http://www.numberfour.eu).
 All rights reserved.
-->

<plugin>
   <extension-point id="injectorSupplier" name="Injector Supplier" schema="schema/injectorSupplier.exsd"/>
   <extension-point id="quickfixProviderSupplier" name="quickfixProviderSupplier" schema="schema/quickfixProviderSupplier.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Validation -->
      <package
            uri="http://www.numberfour.eu/ide/utils/Validation"
            class="eu.numberfour.n4js.utils.validation.ValidationPackage"
            genModel="model/Validation.xcore"/>
   </extension>

</plugin>
