#menu {
    display: none;
    }

div.slicknav_menu {
    padding-top: 5px;
    padding-right: 15px;
    background-color: #132445;
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: right;
    display: none;
    right: 10px;
    font-size: 1rem;
    color: white;
    padding-bottom: 2rem;
    background: url("n4js-logo.png");
    background-position: 10px 10px;
    background-size: 344.48px 40px;
    background-repeat: no-repeat;
    background-color: #132445;
}

span.slicknav_menutxt {
    margin-right: -20px;
    color: white;
}

div.slicknav_menu a.scroll:first-of-type {
    color: #F7D425;
    font-size: 120%;
    font-weight: 600;
}
div.slicknav_menu ul li a {
    color: white;
}
div.slicknav_menu ul li a:hover {
    color: #F7D425;
}

div.slicknav_menu a:hover {color: #F7D425; }
div.slicknav_menu a:visited {color: white; }
div.slicknav_menu a {color: white;}
a.slicknav_btn  {
    padding: 1rem;
}


li.slicknav_parent.slicknav_open {
    color: white;
}

li.slicknav_parent.slicknav_open  {
    color: white;
}

@media screen and (max-width: 890px) {
    div.slicknav_menu {
        display: block;
        color: white
    }
    #mobile-banner {
        display: block;
    }
}

@media screen and (max-width: 470px) {
div.slicknav_menu ul:first-of-type {
    margin-top: 1.5rem;
}

div.slicknav_menu ul li {
    color: white;
}
div.slicknav_menu ul li:hover {
    color: #F7D425;
}
}
div.slicknav_menu li:last-of-type
    {
        padding-bottom: 0.7rem;
    }